@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Chicle');
* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 16px;
}
#container {
	height: 100vh;
	background-image: url('../images/background-1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

#container-inside {
	padding-top: 20px;
	width: 40%;
	height: 100vh;
	float: left;
	margin-left: 30%;
}
.img-title {
	width: 600px;
	height: 180px;
	border: 5px rgb(206, 30, 39)solid;
	box-shadow: rgb(206, 30, 39) 10px 10px 15px;
	border-radius: 50%;
	background: white;
	text-align: center;
	margin-left: 7%;
}

#section-front {
	border: 2px solid rgb(165, 179, 44);
	background-color: palegoldenrod;
	box-shadow: rgb(219, 208, 84) 15px 15px 35px inset;
	border-radius: 15px 50px 30px;
	height: 500px;
	width: 700px;
	overflow: hidden;
	font-family: "Chicle";
	margin: 50px 0;
	cursor: pointer;
}
.front {
	display: initial;
}
.img-background {
	height: 500px;
	width: 700px;
}
.back {
	display: none;
	font-size: 1.8em;
}
h2 {
	padding: 15px 0 15px;
	text-align: center;
	color: green;
	font-size: 3.5em;
}

p {
	text-align: left;
	line-height: 1.7;
	padding-left: 100px;
}
span {
	color: green;
	font-weight: bolder;
}
.btn-start {
	font-family: 'Berkshire Swash', 'cursive';
	border: 4px solid rgb(178, 150, 45);
	font-size: 3em;
	width: 270px;
	height: 100px;
	border-radius: 50%;
	color: rgb(178, 150, 45);
	background-color: white;
	cursor: pointer;
	margin-left: 190px;
}
.btn-start:hover {
	background-color: rgb(178, 150, 45);
	border: 2px solid white;
	color: white;
	animation: 1s click 1;
	animation-delay: 0.3s;
}
@keyframes click {
	25% {
		transform: scale(0.8);
	}
	50% {
		transform: scale(1.1);
	}
	75% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}
#canvas {
	display: none;
	border: 6px solid green;
	margin: 0 auto;
}
