@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Chicle');
* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 16px;
}

#container-inside {
	padding-top: 60px;
	width: 60%;
	margin: 0 auto;
	height: 900px;
}
#section-front {
	position: relative;
	border: 2px solid green;
	box-shadow: rgb(150, 150, 150) 5px 5px 10px inset;
	border-radius: 15px 50px 30px;
	margin: 30px 20% 50px;
	overflow: hidden;
	height: 400px;
	width: 600px;
}
.front{
    display: initial;
}

.back{
    display: none;
	font-size: 1.8em;

}
.img-title {
	margin: 0 20%;
}
.img-background {
	position: absolute;
	z-index: -100;
	width: 600px;
	height: 450px;
}
.btn-start {
	font-family: 'Berkshire Swash', 'cursive';
	border: 2px solid rgb(178, 150, 45);
	font-size: 2em;
	width: 225px;
	height: 60px;
	border-radius: 25px;
	color: rgb(178, 150, 45);
	margin: 0 20%;
	background-color: white;
	cursor: pointer;
}
.btn-start:hover {
	background-color: rgb(178, 150, 45);
	border: 2px solid white;
	color: white;
	animation: 1s click 1;
	animation-delay: 0.3s;
}
@keyframes click {
	25% {
		transform: scale(0.8);
	}
	50% {
		transform: scale(1.1);
	}
	75% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}
#canvas {
	display: none;
	border: 6px solid green;
	margin: 0 auto;
	
}
.time{
	font-size: 2.5em;
	width: 120px;
	height: 95px;
	background-color: gray;
	color:white;
	border-radius: 15px;
	border:2px solid black;	
}
h2{
	padding:15px 0 15px ;
	text-align: center;
}
p{
	padding-left: 10px;
	
}
span{
	color: green;
	font-weight: bolder;
}